#container {
    height: 60%; 
    width: 40%; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

button {
    width: 100px;
    height: 100px;
    margin: 5px;
}